.front-banner{
    animation-name: pulse ;
    animation-duration : 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}
@keyframes pulse {
    0% {
      opacity:0.99;
    }
    100% {
      opacity: 0.89;
    }
}
.h3 {
  position: absolute;
  top: 85%;
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

